$title-color: darkblue;

.title-color {
  color: $title-color;
}

img {
  width: 400px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 98vh;
  background-color: rgb(183, 214, 220);
}
